<% include header %>


                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Cricket</a></li>
                    <li><a data-toggle="tab" href="#menu1">Profile</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <h4>Upcomming Match</h4>
                        <div class="rTable">
                            <% for(var i=0; i< matchlist.length; i++){ %>
                                <% if(matchlist[i].team1pic != matchlist[i].team2pic){ %>
                                    <a href="/playerlist/<%= matchlist[i].unique_id; %>"><div class="rTableRow">
                                        <div class="rTableCell">
                                            <img style="width: 75px;" src="images/teampic/<%= matchlist[i].team1pic; %>" />
                                        </div>
                                        <div class="rTableCell">
                                            <%= matchlist[i].localtime; %>
                                        </div>
                                        <div class="rTableCell">
                                            <img style="width: 75px;" src="images/teampic/<%= matchlist[i].team2pic; %>" />
                                        </div>
                                    </div>
                                    </a>
                                    <%  }} %>
                        </div>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <h3>Profile</h3>
                        <div style="position: absolute;bottom: 0;"><a style="margin-left: 10px;" href="logout">Logout</a></div>
                    </div>
                </div>

<% include footer %> 
            